<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Multipurpose Converter</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>  nav ul li a:hover{
  color: 	#1E90FF;
}
  @media only screen and (max-width: 700px){
  .logo{
      margin-top: 20px;

  }
  nav ul{
      width: 100%;
      background:  #1E90FF;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
  }
}</style>
</head>
<body>
<div class="conatiner">
    <div class="navbar">
        <img src="/static/logo.png" class="logo">
        <nav>
          <ul id="menuList">
            <li><a href="/">Home</a></li>
            <li><a href="/unitconverter">Unit Converter</a></li>
            <li><a href="/currencyconverter">Currency Converter</a></li>
            <li><a href="/studentcorner">Student Corner</a></li>
            <li><a href="/library">Library</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        </nav>
        <img src="/static/menu.png" class="menu-icon" onclick="togglemenu()">
    </div>
    <div class="row-l">
        <div class="col-l">
        <label>Bar</label>
          <br>
          <input id="inputBar" class="w3-input w3-border" type="number" placeholder="Bar" oninput="pressureConverter(this.id,this.value)" onchange="pressureConverter(this.id,this.value)">
        </div>
        <br>
        <div class="col-l">
          <label>Pascal</label>
          <br>
          <input id="inputPascal" class="w3-input w3-border" type="number" placeholder="Pascal" oninput="pressureConverter(this.id,this.value)" onchange="pressureConverter(this.id,this.value)">
        </div>
        <br>
        <div class="col-l">
          <label>Pound</label>
          <br>
          <input id="inputPound" class="w3-input w3-border" type="number" placeholder="Pound" oninput="pressureConverter(this.id,this.value)" onchange="pressureConverter(this.id,this.value)">
        </div>
        <br>
        <div class="col-l">
          <label>Atmosphere</label>
          <br>
          <input id="inputAtmosphere" class="w3-input w3-border" type="number" placeholder="Atmosphere" oninput="pressureConverter(this.id,this.value)" onchange="pressureConverter(this.id,this.value)">
        </div>
        <br>
        <div class="col-l">
          <label>Torr</label>
          <br>
          <input id="inputTorr" class="w3-input w3-border" type="number" placeholder="Torr" oninput="pressureConverter(this.id,this.value)" onchange="pressureConverter(this.id,this.value)">
        </div>
        </div>
      
      <script>
      function pressureConverter(source,valNum) {
        valNum = parseFloat(valNum);
        var inputBar = document.getElementById("inputBar");
        var inputPascal = document.getElementById("inputPascal");
        var inputPound = document.getElementById("inputPound");
        var inputAtmosphere = document.getElementById("inputAtmosphere");
        var inputTorr = document.getElementById("inputTorr");
        if (source=="inputBar") {
          inputPascal.value=(valNum*100000).toFixed(3);
          inputPound.value=(valNum*14.504).toFixed(3);
          inputAtmosphere.value=(valNum/1.013).toFixed(3);
          inputTorr.value=(valNum*750).toFixed(3);  
        }
        if (source=="inputPascal") {
          inputBar.value=(valNum/100000).toFixed(3);
          inputPound.value=(valNum/6895).toFixed(3);
          inputAtmosphere.value=(valNum/101325).toFixed(3);
          inputTorr.value=(valNum/133).toFixed(3);        
        }
        if (source=="inputPound") {
          inputBar.value=(valNum/14.504).toFixed(3);
          inputPascal.value=(valNum*6895).toFixed(3);
          inputAtmosphere.value=(valNum/14.696).toFixed(3);
          inputTorr.value=(valNum*51.715).toFixed(3);   
        }
        if (source=="inputAtmosphere") {
          inputBar.value=(valNum*1.013).toFixed(3);
          inputPascal.value=(valNum*101325).toFixed(3);
          inputPound.value=(valNum*14.696).toFixed(3);
          inputTorr.value=(valNum*760).toFixed(3);      
        }
        if (source=="inputTorr") {
          inputBar.value=(valNum/750).toFixed(3);
          inputPascal.value=(valNum*133).toFixed(3);
          inputPound.value=(valNum/51.715).toFixed(3);
          inputAtmosphere.value=(valNum/760).toFixed(3);      
        }
      }
      </script>
</div>
<script>

    var menuList = document.getElementById("menuList");
    
    menuList.style.maxHeight = "0px";

    function togglemenu(){
    
        if(menuList.style.maxHeight == "0px")
        {
          menuList.style.maxHeight = "190px";
        }
        else
        {
            menuList.style.maxHeight = "0px";
        }
    }

</script>
</body>
</html>