<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Multipurpose Converter</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<style>  nav ul li a:hover{
  color: 	#1E90FF;
}@media only screen and (max-width: 700px){
  .logo{
      margin-top: 20px;

  }
  nav ul{
      width: 100%;
      background: #1E90FF;
      position: absolute;
      top: 75px;
      right: 0;
      z-index: 2;
  }
}</style>
</head>
<body>
<div class="conatiner">
    <div class="navbar">
        <img src="/static/logo.png" class="logo">
        <nav>
          <ul id="menuList">
            <li><a href="/">Home</a></li>
            <li><a href="/unitconverter">Unit Converter</a></li>
            <li><a href="/currencyconverter">Currency Converter</a></li>
            <li><a href="/studentcorner">Student Corner</a></li>
            <li><a href="/library">Library</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        </nav>
        <img src="/static/menu.png" class="menu-icon" onclick="togglemenu()">
    </div>
    <div class="row-l">
        <div class="col-l">
        <label>MPH</label>
        <br>
        <input id="inputMPH" class="w3-input w3-border" type="number" placeholder="MPH" oninput="speedConverter(this.id,this.value)" onchange="speedConverter(this.id,this.value)">
      </div>
      <br>
      <div class="col-l">
        <label>KPH</label>
        <br>
        <input id="inputKPH" class="w3-input w3-border" type="number" placeholder="KPH" oninput="speedConverter(this.id,this.value)" onchange="speedConverter(this.id,this.value)">
      </div>
      <br>
      <div class="col-l">
        <label>Knots</label>
        <br>
        <input id="inputKnots" class="w3-input w3-border" type="number" placeholder="Knots" oninput="speedConverter(this.id,this.value)" onchange="speedConverter(this.id,this.value)">
      </div>
      <br>
      <div class="col-l">
        <label>Mach</label>
        <br>
        <input id="inputMach" class="w3-input w3-border" type="number" placeholder="Mach" oninput="speedConverter(this.id,this.value)" onchange="speedConverter(this.id,this.value)">
      </div>
      </div>
    <script>
    function speedConverter(source,valNum) {
      valNum = parseFloat(valNum);
      var inputMPH = document.getElementById("inputMPH");
      var inputKPH = document.getElementById("inputKPH");
      var inputKnots = document.getElementById("inputKnots");
      var inputMach = document.getElementById("inputMach");
      if (source=="inputMPH") {
        inputKPH.value=(valNum*1.609344).toFixed(2);
        inputKnots.value=(valNum/1.150779).toFixed(2);
        inputMach.value=(valNum/761.207).toFixed(4);
      }
      if (source=="inputKPH") {
        inputMPH.value=(valNum/1.609344).toFixed(2);
        inputKnots.value=(valNum/1.852).toFixed(2);
        inputMach.value=(valNum/1225.044).toFixed(5);
      }
      if (source=="inputKnots") {
        inputMPH.value=(valNum*1.150779).toFixed(2);
        inputKPH.value=(valNum*1.852).toFixed(2);
        inputMach.value=(valNum/661.4708).toFixed(4);
      }
      if (source=="inputMach") {
        inputMPH.value=(valNum*761.207).toFixed();
        inputKPH.value=(valNum*1225.044).toFixed();
        inputKnots.value=(valNum*661.4708).toFixed();
      }
    }
    </script>
</div>
<script>

    var menuList = document.getElementById("menuList");
    
    menuList.style.maxHeight = "0px";

    function togglemenu(){
    
        if(menuList.style.maxHeight == "0px")
        {
          menuList.style.maxHeight = "190px";
        }
        else
        {
            menuList.style.maxHeight = "0px";
        }
    }

</script>
</body>
</html>